<table>
    <thead>
      <tr>
        <th>Edit/Delete</th>
        <th>Selectie</th>
        <th>Nume</th>
        <th>Origine</th>
        <th>Oraș</th>
        <th>An Început</th>
        <th>An Separare</th>
        <th>Fondatori</th>
        <th>Membri</th>
        <th>Stil Muzical</th>
        <th>Descriere</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of groups"> 
        <td><input type="button" (click)="deleteGroup(item)" value="Delete" /></td>
        <td>{{ item.NomDuGroupe }}</td>
        <td>{{ item.NomDuGroupe }}</td>
        <td>{{ item?.Origine }}</td>
        <td>{{ item.Ville }}</td>
        <td>{{ item.anneeDebut }}</td>
        <td>{{ item.anneeSeparation }}</td>
        <td>{{ item.fondateurs }}</td>
        <td>{{ item.membres }}</td>
        <td>{{ item.CourantMusical }}</td>
        <td>{{ item.presentation }}</td>
      
      </tr>


    </tbody>
  </table>


  
  